@model MyFriends.Models.Image

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Image</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Friend)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Friend.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MyImage)
        </dt>
        <dd class = "col-sm-10">
            @{
                var base64Image = Convert.ToBase64String(Model.MyImage);
                var imageSrc = String.Format("data:image/png;base64,{0}", base64Image);
            }
            <img src="@imageSrc" alt="Image" style="max-height:100px; max-widht:100px" />
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
